
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}

body{
  background: #fff;
}


/* เพิ่มใหม่ */
.title {
  display: flex;
  align-items: center;
}
/* เพิ่มใหม่ */
.navlogo {
  width: 100px;
  margin-right: -10px;
  margin-left: -33px;
  margin-top: 7px;
}




.wrapper .header{
  z-index: 1;
  background: #22242A;
  position: fixed;
  width: calc(100%);
  height: 70px;
  display: flex;
  top: 0;
}

.wrapper .header .header-menu{
  width: calc(100%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.wrapper .header .header-menu .title{
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}

.wrapper .header .header-menu .title h1{
  color: #ff5733;
  font-size: 25px;
  margin-left: 10px;
}

.wrapper .header .header-menu .sidebar-btn{
  color: #fff;
  position: absolute;
  margin-left: 310px;
  font-size: 26px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover{
  color:#ff5733;

}

.wrapper .header .header-menu ul{
  display: flex;
}

.wrapper .header .header-menu ul li a{
  background: #fff;
  color: #000;
  display: block;
  margin: 0 10px;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: background, color;
}

.wrapper .header .header-menu ul li a:hover{
  background: #ff5733;
  color: #fff;
}

.wrapper .siderbar{
  z-index: 1;
  background: #2e2f33;
  position: fixed;
  top: 70px;
  width: 290px;
  height: calc(100%);
  transition: 0.3s;
  transition-property: width;
  overflow: auto;
}

/* แก้ตรงนี้ */
.wrapper .siderbar .sidebar-menu{
  margin-top: 0px;
  overflow: hidden;
}

.wrapper .siderbar .sidebar-menu .profile{
  margin: 20px;
  width: 150px;/* แก้ตรงนี้ */
  height: 150px;/* แก้ตรงนี้ */
  margin-left: 65px;
  border-radius: 70px;
  margin-bottom: 20px;  /* แก้ตรงนี้ */
}

.wrapper .siderbar .sidebar-menu .profile img {
  margin: 20px;
  width: 100px;/* แก้ตรงนี้ */
  height: 100px;/* แก้ตรงนี้ */
  border-radius: 70px;
  margin-bottom: -25px;  /* แก้ตรงนี้ */
}

.wrapper .siderbar .sidebar-menu .username {
  color: #bbb;
  font-weight: 700;
  margin-bottom: 50px; /* แก้ตรงนี้ */
}

.wrapper .siderbar .sidebar-menu .item{
  width: 290px;
  overflow: hidden;

}
.wrapper .siderbar .sidebar-menu .item .menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 25px 20px;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .siderbar .sidebar-menu .item .menu-btn:hover{
  color: #ff5733;
}
.wrapper .siderbar .sidebar-menu .item .menu-btn i{
  margin-right: 20px;
}

.wrapper .siderbar .sidebar-menu .item .menu-btn .drop-down{
  float: right;
  font-size: 12px;
  margin-top: 3px;
}

.wrapper .siderbar .sidebar-menu .item .sub-menu{
  background: #FF5733;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
  transition-property: background, max-height;
}

.wrapper .siderbar .sidebar-menu .item .sub-menu a{
  display: block;
  position: relative;
  color: #fff;
  white-space: nowrap;
  font-size: 15px;
  padding: 20px;
  border-bottom: 1px solid #ffd2c9;
  transition: 0.3s;
  transition-property: background;
}

.wrapper .siderbar .sidebar-menu .item .sub-menu a:hover{
  background: #fd6645;
}

.wrapper .siderbar .sidebar-menu .item .sub-menu i{
  padding-right: 20px;
  font-size: 10px;
}

.wrapper .siderbar .sidebar-menu .item:target .sub-menu{
  max-height: 500px;
}

.wrapper .main-container{
  width: (100% - 290px);
  margin-top: 70px;
  margin-left: 290px;
  padding: 15px;
  transition: margin-left 0.3s ease; /* Smooth transition */

}

.wrapper.collapse .siderbar {
  width: 70px /* Slide the sidebar off-screen when collapsed */
}

/* Adjust main content when sidebar is collapsed */
.wrapper.collapse .main-container {
  width: (100%-70px);
  margin-left: 70px;
  transition: margin-left 0.3s ease;
}

.wrapper.collapse .siderbar .profile img,
.wrapper.collapse .siderbar .username,
.wrapper.collapse .siderbar .username label,
.wrapper.collapse .siderbar a span{
  display: none;
}

.wrapper.collapse .siderbar .sidebar-menu .item .menu-btn{
  font-size: 23px;
}

.wrapper.collapse .siderbar .sidebar-menu .item .sub-menu i{
  font-size: 18px;
  padding: 3px;
}


.wrapper.collapse .main-container{
  width: (100%-70px);
  margin-left: 70px;
}


.button-createproduct {
  justify-content:space-around;
  margin-left: 10px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  color: #2e2f33;
  border: 3px solid #2e2f33; 
  width: 160px;
  height: 40px;
  margin-right: 20px; 
  margin-top: -3px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.button-createproduct:hover{
    background-color: #FF5733;
    color: rgb(255, 255, 255);
}



.navbar-search {
  display: flex;
  align-items: center;
  border-radius: 20px;

}

.navbar-search input {
  border-radius: 60px;
  border: 3.5px solid #ccc;
  padding: 15px; 
  margin-right: -45px;
  margin-top: -1px;
  width: 600px;
  height: 0px;
}

.search input::placeholder {
  color: #aaa; 
}

